{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" href='{% static "penaltytracker\style.css" %}'>
  </head>
  <body>
    <div class="col-md-12">
      <p>Welcome to the new 2016-17 Penalty Tracker! In this version, I really wanted to focus on loading times. Towards the end
       of last season, the page was taking seconds to fully load even on a rather faster internet connection. Because of this, I changed
       several things. The first was introducing this search page.</p>

       <P>All of the forms on this page are optional. If you would like to see all of the data for the entire season, just click "Search"
       and you will be taken to the results page.</P>

       <P><b>Please Note:</b> On December 14th, the NHL's api stopped distributing the names of the referees for each game. I have disabled this field until the issue gets remedied.</P>
    </div>
    <div class="col-md-12">
      <center>
      <div class="form">
        <form action="/PenaltyTracker/" method="post">

          {% csrf_token %}
          <table>{{ form.as_table }}</table>
          <br>
          <input type="submit" value="Search" />
        </form>
      </center>

      </div>
    </div>
{% endblock %}
