.chord {
  background-color: #FFFFFF;
  width: 400px;
  border-radius:20px;
}

.chordTitle {
  color: #000000;
  padding-top:15px;
}

form{
  width:60%;
  border-radius:10px;
}

td{
  color:black;
  padding:10px;
}

th{
  padding:5px;
  text-align:right;
}

.helptext{
  color:#FFFFFF;
  font-weight: bold;
  text-align:center;
}

input, select {
  color:black;
  width:100%;
}

input:focus{
  background-color: yellow;
}

#submitButton {
  width:30%;
}

#resetButton {
  width:30%;
}

#game {
  width: 60%;
  border-radius:20px;
  background-color: #FFFFFF;
}

#chordTitle {
  font-weight:bold;
  color: black;
  padding-top: 30px;
  padding-bottom: -10px;
  font-size: 250%;
}

#chordsRemainingTable {
  border:0px;
  font-weight:bold;
  color: black;
}

#chordsRemDiv{
  padding-bottom:15px;
}
