{% extends 'template.html' %}
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h2>Viewing categories {{ category.title }}</h2>
    <hr>
    <div>
      The categories that I have used across the blog are shown in the list below. By clicking the link, you will be brought to a list of the posts in that category.<br><br>
    </div>
    {% if categories %}
        <ul>
        {% for post in categories %}
            <li><a href="{% url 'categoryPostsView' post.slug %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories yet. This could be that there are no blog posts.</p>
    {% endif %}
{% endblock %}
