{% extends 'template.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<article>
  <header>
    <h1> {{post.title}} </h1>
  </header>
  <p class="content">
  </p>
  {{post.content|safe}}
</article>
<div class="blogTags">
{% if post.tags %}

    <b>Tags</b><br>|
    {% for tag in post.tags.all %}
        <a href="{% url 'tagPostsView' tag.slug %}">{{ tag.title }}</a> |
    {% endfor %}

{% else %}
    There are no tags.
{% endif %}
</div>
<hr/>
Posted on <time datetime="{{post.created|date:"c"}}">{{post.created|date}}</time>
{% endblock %}
