{% extends 'template.html' %}
{% load markdown_deux_tags %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<div class="post">
  <div>
        {{post.content|markdown}}
  </div>
  <div class="postedOn">
    Posted on <time datetime="{{post.created|date:"c"}}">{{post.created|date}}</time>
  </div>
</div>
<div class="blogTags">
{% if post.tags %}
    <b>Tags: </b>
    {% for tag in post.tags.all %}
        <a href="{% url 'tagPostsView' tag.slug %}" id="blogLink">{{ tag.title }}</a> 
    {% endfor %}

{% else %}
    There are no tags.
{% endif %}
</div>

{% endblock %}
