{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% if post %}
    <div>
        <p>Test</p>
        <p>published: {{ post.published_date }}</p>
        <div id="content">{{ post.content|markdown|safe }}</div>
        <hr>
        <h4>Categories</h4>
        <div>
          {% for category in post.categories.all %}
            <a href="{% url 'category_list' category.slug|lower %}">{{category}}</a>
          {% endfor %}
        </div>
    </div>
{% endif %}


{% endblock %}
