{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% for post in posts %}
    <div>
        <h1><a href="">{{ post.post_title }}</a></h1>
        <p>published: {{ post.published_date }}</p>
        <p>{{ post.content|markdown|safe }}</p>
        <div>
          {% for category in post.categories.all %}
            <a href="{% url 'category_list' category.slug|lower %}">{{category}}</a>
          {% endfor %}
        </div>
    </div>
    <hr>
{% endfor %}


{% endblock %}
