{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
			<center><img src="{% static "images\aboutMe.jpg" %}" alt="In Montreal" class="thumbnail" width=25% height=25%></center>
				<p>Hello, My name is Roy Gero. I graduated from <a href="http://www.umass.edu/mie">UMass Amherst</a> with a bachelor's of science in Mechanical Engineering in May 2010. Since then I have developed a love for software development and have been working on obtaining the skills necessary to dive into the field. You can see the list of courses I've taken below.</p>

				<h3 id="skills">Skills</h3>
				<P>This list is taken from a Google Document Spreadsheet that I use to track my progress in certain skills, as well as determine future skills I would like to learn. If you are not able to view this section, <a href="https://docs.google.com/spreadsheets/d/1OG9LFb37q2owM9G5xlNUFXzK0Tw2sW9cKnnf5qn25DQ/pubhtml?widget=true&amp;headers=false" target="_blank">here is a direct link</a>.</P>
				<center>
					<iframe width=100% height=500px scolling=no frameborder=0 src="https://docs.google.com/spreadsheets/d/1OG9LFb37q2owM9G5xlNUFXzK0Tw2sW9cKnnf5qn25DQ/pubhtml?widget=true&amp;headers=false"></iframe>
				</center>

				<h3 id="coursesCompleted">Courses Completed</h3>
				<p>These are the courses that I have completed through online websites such as Udemy.
				<UL>
					<LI> CodeAcademy's Python Course - <a href="https://www.codecademy.com/learn/python" target="_blank">Link to Course</a>
					<LI> Learn Python The Hard Way - <a href="http://learnpythonthehardway.org/" target="_blank">Link to Course</a>
					<LI> CodeAcademy's Ruby Course - <a href="https://www.codecademy.com/learn/ruby" target="_blank">Link to Course</a>
					<LI> Udacity - Intro to Java Programming - <a href="https://www.udacity.com/course/intro-to-java-programming--cs046" target="_blank">Link to Course</a>
					<LI> Coursera - Beginning Game Programming with C# - <a href="https://www.coursera.org/course/gameprogramming" target="_blank">Link to Course</a>
					<LI> Coursera - Algorithms, Part 1 - <a href="https://www.coursera.org/course/algs4partI" target="_blank">Link to Course</a>
					<LI> Udemy - Introduction to Data Structures & Algorithms in Java - <a href="https://www.udemy.com/introduction-to-data-structures-algorithms-in-java/" target="_blank">Link to Course</a>
					<LI> Udemy - Learn to Program with C++ - <a href="https://www.udemy.com/learn-c/" target="_blank">Link to Course</a>
					<LI> Udemy - Advanced C++ Programming - <a href="https://www.udemy.com/advanced-c-programming/" target="_blank">Link to Course</a>
					<LI> Udemy - Learn 3D Modelling - The Blender Creator Course - <a href="https://www.udemy.com/blendertutorial/" target="_blank">Link to Course</a>
          <LI> Coursera - Algorithms, Part 2 - <a href="https://www.coursera.org/course/algs4partII" target="_blank">Link to Course</a>
          <LI> Udemy - The Complete Android Developer Course - <a href="https://www.udemy.com/the-complete-android-developer-course/" target="_blank">Link to Course</a>
          <LI> Udemy - The Complete iOS 9 Developer Course - <a href="https://www.udemy.com/the-complete-ios-9-developer-course/" target="_blank">Link to Course</a>
					<LI> Udemy - Automate the Boring Stuff with Python - <a href="https://www.udemy.com/automate/" target="_blank"> Link to Course</a>
					<LI> Udacity - Software Architecture & Design
				</ul>

				<h3 id="inProgress">Courses in Progress</h3>
				<UL>
					<LI> Udemy - The Complete Unity Developer - <a href="https://www.udemy.com/unitycourse/" target="_blank">Link to Course</a>
					<LI> Udemy - The Unreal Engine Developer Course - <a href="https://www.udemy.com/unrealcourse" target="_blank">Link to Course</a>
					<LI> Udemy - Automate Blender with Python - <a href="https://www.udemy.com/blenderpython/" target="_blank">Link to Course</a>
					<LI> Udemy - Learn Professional Pixel Art & Animation for Games -  <a href="https://www.udemy.com/learn-professional-pixel-art-animation-for-games/" target="_blank">Link to Course</a>
					<LI> PluralSight's C++ Course Path - <a href="https://www.pluralsight.com/paths/c-plus-plus">Link to Path</a></LI>
				</UL>
				<div>Note: I am going to be starting the "Automate Blender with Python" course as soon as it becomes available. I received advanced access to it because I helped kickstart the course.</div>

        <h3>Books I am reading/intend on reading</h3>
        <UL>
            <LI> Elemental Design Patterns by Jason McC. Smith - <a href="http://www.amazon.com/Elemental-Design-Patterns-Jason-Smith/dp/0321711920" target"_blank">Link to book on Amazon</a>
            <LI> Service-Oriented Design with Ruby and Rails by Paul Dix - <a href="http://www.amazon.com/Service-Oriented-Design-Rails-Addison-Wesley-Professional/dp/0321659368" target="_blank">Link to book on Amazon</a>
            <LI> Soft Skills by John Sonmez - <a href="http://www.amazon.com/Soft-Skills-software-developers-manual/dp/1617292397" target="_blank">Link to book on Amazon</a>
            <LI> Design Patterns by Erich Gamma - <a href="http://www.amazon.com/Design-Patterns-Elements-Reusable-Object-Oriented/dp/0201633612/" target="_blank">Link to book on Amazon</a>
        </UL>

				<h3 id="fun">Interests</h3>
				<UL>
					<LI> <strong id="strong-white">Hockey</strong> - Both playing and watching. I have played hockey since my freshman year of high school and have a current goal to visit all 30 NHL Cities and watch a game.
					<LI> <strong id="strong-white">Fitness</strong> - During college, I used weight lifting as a way to relax and blow off steam. Now I work every day to be active and fit.
					<LI> <strong id="strong-white">Game Programming</strong> - I've been working on several smaller games as well as mods for games I enjoy (such as Kerbal Space Program, Minecraft, etc) in order to enhance my knowledge and comfort in development.
					<LI> <strong id="strong-white">Music</strong> - Over the years I have learned to play the saxophone, guitar and bass. I am currently learning to play the piano.
					<LI> <strong id="strong-white">Rock Climbing</strong> - I may be absolutely terrible at it, but I do enjoy it.
					<LI> <strong id="strong-white">Participating in Extra Life</strong> - I've been participating in Extra-Life for the last three years. Through my amazing network of friends I have raised over $1,000 lifetime for the Boston Children's Hospital.
				</UL>


			</div>

{% endblock %}
