{% extends "template.html" %}

{% block content %}

                <p>Hello! My name is Roy Gero. When I was growing up I was always fascinated by computers and video games. My father was the one who taught me the components of a computer and how they worked together. When I was ten, I built my own and then throughout middle and high school I worked tirelessly on making mods for several video games (Primarily Monster Truck Madness 2 and Age of Empires 2) and silly little websites. In high school, I took two “programming” courses. One was a QuickBasic course, and the other was an HTML course. You can actually see the remnants of that HTML course on the Internet Time Machine.</p>

                <p>When it was time to go to college, I chose to pursue a degree in Mechanical Engineering due to my interest in aerospace and physics. In retrospect, I should have chosen to focus on Computer Science. My interest in computer programming showed up consistently throughout the pursuit of my degree in various courses around robotics, problem solving, project management, and design. When I joined the Vistagy, the software company I was employed at after graduation, it became apparent that my passion for computer programming had never been stronger.</p>

                <p>Since then I have dedicated time learning languages and engaging in courses on a diverse scope of topics. You can view all the courses and languages I’ve taken/worked with on the “About Me” page.</p>

                <h3 id="underline">So why have I made this website?</h3>

                <p>Ultimately, it is time for me to switch gears and transition into a career in development. I intend on using this website to display the skills that I have developed over the years through projects that I have worked on. I am currently pruning my projects down to the ones that I think are meaningful and useful to others, while also working on new ones. Additionally, through the use of the blog section of the website, I intend on demonstrating my thought process through every project. Everything I show on this website will also have easy download links. This way people can download them, play with them, and maybe learn from them.</p>

{% endblock %}