The Blog:

Version - 0.1

The purpose of this document is to design and think out the necessary models for the blog. I am going to be using WordPress as inspiration.

Post
  Description:
    This is the most basic part of a blog.
  Requirements:
    Title
    Content
    Author
    Publish Date
    slug
  Nice to Haves
    Category
    Tags
    images

Category
  Description:
    This is how we can find related posts
  Requirements:
    name
    slug

Tag
  Description:
    This is how we can find related posts
  Requirements:
    name
    slug

How will I access to blog?
  /blog/

How will I post to the blog?
  Probably best through a form. I don't want to do the administrative page for this.

Concerns:
  If I do a form, how will I log in?
