{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
<p>From here you can see the wide range of projects I have been working on as well as the ones I have completed. They will organized by the programming languages they were developed in. As this website nears completion, each project will start to have its own dedicated page with links to relevant blog posts outlining the process in which they were developed.</p>

<p>To read about how I originally learned the language in question, click the heading</p>

<h3><a href="{% url 'python' %}">Python</a></h3>
<ul>
    <li><a href="/penaltytracker">The Penalty Tracker</a>
    <li>File Renamer
    <LI>IP Notifier
    <LI>Link to Spotify
    <LI>Guitar Notes
</ul>

<h3><a href="{% url 'c-sharp' %}">C#</a></h3>
<ul>
    <LI>Selina No
    <LI>File Renamer - GUI
    <LI>Laser Defender
    <LI>Painbow Road
</ul>

<h3><a href="{% url 'java' %}">Java</a></h3>
<ul>
    <LI><a href="{% url 'java_background' %}">The Background Generator</a>
    <LI><a href="{% url 'java_image_processor' %}">The Bad Image Processor</a>
</ul>

<h3><a href="{% url 'perl' %}">PERL</a></h3>
<ul>
    <LI>Size Comparsion
</ul>

<h3><a href="{% url 'android' %}">Android</a></h3>
<ul>
    <LI>Shooting Time
    <LI>Hiker's Watch
</ul>

<h3><a href="{% url 'iOS' %}">iOS</a></h3>
<ul>
    <LI>Shooting Time
    <LI>Hiker's Watch
</ul>

<p>It is important to note that I am also working on the planning for several additional projects in various languages. I won't go into much detail involving these projects because they exist in a state of rather large fluxuation right now.</p>

{% endblock %}
