{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
  {{static}}
  {% if quickfacts %}
    <center>
      <h3>Quick Facts</h3>
      <table cellpadding="10px" border="1px">
        {% for k, v in quickfacts.items %}
          <tr>
            <td>{{k}}</td>
            <td><a href="{{v}}" target="_blank">Link to {{k}}</td>
          </tr>
        {% endfor %}
      </table>
    </center>
  {% endif %}

  {% if pageContent %}
    {% for heading in pageContent %}
      {% for value in heading.items %}
        <h3>{{value.0}}</h3>
          {% for entry in value.1 %}
            {% for k,v in entry.items %}
                {% if k == "paragraph" %}
                  <p>{{v}}</p>
                {% elif k == "unordered_list" %}
                  <LI>{{v}}
                {% elif k == "ordered_list" %}
                  <OL>{{v}}
                {% endif %}
            {% endfor %}
          {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if images %}
    <h3>Images</h3>
    <center>
    <table>
          <tr>
            {% for dataPoint in images.0.imgData %}
              {% for alt,img in dataPoint.1.items %}
                <td><a href="{{static}}{{img}}" target="_blank" alt="{{alt}}"><img src="{{static}}{{img}}" alt="{{alt}}" width={{images.0.settings.width}} height={{images.0.settings.height}}></td>
              {% endfor %}
            {% endfor %}
          </tr>
    </table>
    <center>
  {% endif %}

{% endblock %}
