{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
  {% if quickfacts %}
    <center>
      <h3>Quick Facts</h3>
      <table cellpadding="10px" border="1px">
        {% for k, v in quickfacts.items %}
          <tr>
            <td>{{k}}</td>

            <td>
              {% if v.0 == "external" %}
                <a href="{{v.1}}">Link to {{k}}</a>
              {% elif v.0 == "internal_file" %}
                <a href="{{static}}{{v.1}}">Link to {{k}}</a>
              {% else %}
                <a href="{% url v.1 %}">Link to {{k}}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </center>
  {% endif %}

  {% if pageContent %}
    {% for content in pageContent %}
      {% for entry in content %}
        {% for k,v in entry.items %}
          {% if k == "unordered_list" %}
            <UL>
              {% for e in v %}
                <LI> {{e|safe}}
              {% endfor %}
            </UL>
          {% elif k == "ordered_list" %}
            <OL>
              {% for e in v %}
                <LI> {{e|safe}}
              {% endfor %}
            </OL>
          {% elif k == "img" %}
            <center>
              <p><a href="{{static}}{{v.src}}" target="_blank" alt="{{v.alt}}"><img src="{{static}}{{v.src}}" alt="{{v.alt}}" width={{v.width}} height={{v.height}}></a></p>
            </center>
          {% elif k == "table" %}
            <center>
              <table>
                {% for tableEntry in v %}
                    <tr>
                      {% if tableEntry.0 == "header" %}
                        {% for val in tableEntry.1 %}
                          <th>{{val|safe}}</th>
                        {% endfor %}
                      {% elif tableEntry.0 == "row" %}
                        {% for val in tableEntry.1 %}
                          <td>{{val|safe}}</td>
                        {% endfor %}
                      {% endif %}
                    </tr>
                {% endfor %}
              </table>
            </center>
          {% else %}
            {% if v.0 != "None" and v.1 != "None"%}
              {% for t,u in v.0.items %}
                <{{k}} {{t}}={{u}}>{{v.1}}</{{k}}>
              {% endfor %}
            {% elif v.1 == "None" %}
              <center>
              <{{k}}
              {% for t,u in v.0.items %}
                {{t}}="{{u}}"
              {% endfor %}
              ></{{k}}>
              </center>
            {% else %}
              <{{k}}>{{v.1|safe}}</{{k}}>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if gallery %}
    <h3>Images</h3>
    <center>
    <table>
          <tr>
            {% for dataPoint in gallery.0.imgData %}
              {% for alt,img in dataPoint.1.items %}
                <td><a href="{{static}}{{img}}" target="_blank" alt="{{alt}}"><img src="{{static}}{{img}}" alt="{{alt}}" width={{gallery.0.settings.width}} height={{gallery.0.settings.height}}></td>
              {% endfor %}
            {% endfor %}
          </tr>
    </table>
    </center>
  {% endif %}

{% endblock %}
