{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
{% load markdown_deux_tags %}
<link rel="stylesheet" href='{% static "projects\projects.css" %}'>

  {% if pageContent %}
    {{ pageContent|markdown }}
  {% endif %}

  {% if gallery %}
    <h3>Images</h3>
    <center>
    <table>
          <tr>
            {% for dataPoint in gallery.0.imgData %}
              {% for alt,img in dataPoint.1.items %}
                <td style="padding:10px"><a href="{{static}}{{img}}" target="_blank" alt="{{alt}}"><img src="{{static}}{{img}}" alt="{{alt}}" width={{gallery.0.settings.width}} height={{gallery.0.settings.height}}></td>
              {% endfor %}
            {% endfor %}
          </tr>
    </table>
    </center>
  {% endif %}

{% endblock %}
