{% load staticfiles %}

<ul class="nav navbar-nav pull-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="mailto:roymondnet@gmail.com"><img src="{% static "images\contact\email.png" %}" alt="Email Roy"> Email</a></li>
      <li><a href="https://www.linkedin.com/pub/roy-gero/44/97/453"><img src="{% static "images\contact\in.png" %}" alt="Roy's LinkedIn"> LinkedIn</a></li>
      <li><a href="http://www.github.com/rgero"><img src="{% static "images\contact\github.png" %}" alt="Roy's GitHub"> GitHub</a></li>
      <li><a href="https://www.codewars.com/users/rgero"><img src="{% static "images\contact\codewars.png" %}" alt="Roy's CodeWar Account"> CodeWars</a></li>
      <li><a href="https://twitter.com/r0ym0nd"><img src="{% static "images\contact\twitter.png" %}" alt="Roy's Twitter"> Twitter</a></LI>
    </ul>
  </li>
</ul>
