
{% load staticfiles %}
        <div class="col-md-2 contact">
            <h4>Contact Info</h4>
            <a href="mailto:roymondnet@gmail.com"><img src="{% static "images\contact\email.png" %}" alt="Email Roy"> Email</a><br>
            <a href="https://www.linkedin.com/pub/roy-gero/44/97/453"><img src="{% static "images\contact\in.png" %}" alt="Roy's LinkedIn"> LinkedIn</a><BR>
            <a href="http://www.github.com/rgero"><img src="{% static "images\contact\github.png" %}" alt="Roy's GitHub"> GitHub</a><br>
        </div>
