{% load staticfiles %}

<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'projects' %}">Projects
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><b><a href="/projects">Projects Home</a></b></li>
      <hr>

      <!-- Python Projects -->
      <li><b><a href="{% url 'python' %}">Python</a></b></li>
      <li><a href="/PenaltyTracker">The Penalty Tracker</a></li>
      <li><a href="{% url 'roymond_net' %}">Roymond.NET</a></LI>
      <li><a href="{% url 'python_file_renamer' %}">File Renamer</a></LI>
      <LI><a href="{% url 'python_ip_notifier' %}">IP Notifier</a></LI>
      <LI><a href="{% url 'python_last_to_spotify' %}">Last.FM to Spotify</a></LI>
      <LI><a href="{% url 'python_guitar_notes' %}">Guitar Notes</a></LI>

      <!-- C# Projects-->
      <li><b><a href="{% url 'c-sharp' %}">C#</a></b><li>
      <li><a href="{% url 'csharp-selina' %}">Selina No!</a></li>
      <LI><a href="{% url 'csharp-painbow' %}">Painbow Road</a></li>
      <LI><a href="{% url 'csharp_file_renamer' %}">File Renamer</a></li>
      <LI><a href="{% url 'csharp_laser_defender' %}">Laser Defender</a></li>

      <!-- Java -->
      <li><b><a href="{% url 'java' %}">Java</a></b><li>
      <LI><a href="{% url 'java_background_old' %}">The Background Generator</a></LI>
      <LI><a href="{% url 'java_background' %}">The 2017 Background Generator</a></LI>
      <LI><a href="{% url 'java_image_processor' %}">The Bad Image Processor</a></LI>
      <LI><a href ="{% url 'java_guitar_trainer' %}">The Guitar Trainer</a></LI>
      <LI><a href ="{% url 'java_chord_drawer' %}">The Chord Drawer</a></LI>

      <!-- Perl -->
      <li><b><a href="{% url 'perl' %}">Perl</a></b><li>
      <LI><a href="{% url 'perl_size_comparsion' %}">Size Comparsion</a></LI>

      <!-- Android -->
      <li><b><a href="{% url 'android' %}">Android</a></b><li>
      <LI><a href="{% url 'android_hikers_watch' %}">Hiker's Watch</a></LI>
      <LI><a href="{% url 'android_shooting_time' %}">Shooting Time</a></LI>

      <!-- iOS -->
      <li><b><a href="{% url 'iOS' %}">iOS</a></b><li>
      <LI><a href="{% url 'ios_hikers_watch' %}">Hiker's Watch</a></LI>
      <LI><a href="{% url 'ios_shooting_time' %}">Shooting Time</a></LI>
      <LI><a href="{% url 'ios_guitar_trainer' %}">Guitar Trainer</a></LI>        


      <!-- Javascript -->
      <li><b><a href="{% url 'js_index' %}">Javascript</a></b><li>
      <li><a href="/GuitarTrainer">The Guitar Trainer</a></li>
    </ul>
  </li>
</ul>
