{% load staticfiles %}

<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'projects' %}">Projects
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><b><a href="/projects">Projects Home</a></b></li>
      <hr>

      <li><b>Popular Projects</b></li>
      <li><a href="/PenaltyTracker">The Penalty Tracker</a></li>
      <li><a href="/GuitarTrainer">Web-based Guitar Trainer</a><li>
      <li><a href="{% url 'csharp-selina' %}">Selina No!</a></li>
      <LI><a href="{% url 'csharp-painbow' %}">Painbow Road</a></li>
      <LI><a href="{% url 'java_background' %}">The 2017 Background Generator</a></LI>
      <LI><a href ="{% url 'java_guitar_trainer' %}">The Guitar Trainer</a></LI>
      <LI><a href ="{% url 'java_chord_drawer' %}">The Chord Drawer</a></LI>
      <hr>
      <li><b><a href="/projects">View All Projects</a></b></li>
    </ul>
  </li>
</ul>
