{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
  <link rel="stylesheet" href='{% static "guitartrainer\style.css" %}'>

<center>

  {% if gameData %}
    <div id="gameData">
      <div id="numberOfChords" style="display:none">{{gameData.numberOfChords}}</div>
      <div id="timeBetweenChords" style="display:none">{{gameData.timeBetween}}</div>
      <div id="selectedChords"  style="display:none">{{gameData.selectedChords}}</div>
    </div>

    <div id="game">
        <div id="chordTitle"></div>
        <img id="chord" src="">
        <div id="chordsRemDiv">
          <table id="chordsRemainingTable">
            <tr>
              <td>Chords Remaining</td>
              <td id= "chordsRemaining"></td>
            </tr>
            <tr>
              <td>Time Remaining</td>
              <td id="timeRemaining"></td>
            </tr>
          </table>
        </div>
        <div> </div>
    </div>
  {% else %}
    <p>Nothing Found</p>
  {% endif %}


</center>
<script type="text/javascript" src='{% static "guitartrainer\gameScript.js" %}'></script>
{% endblock %}
