{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
            <center><h3>Quick Facts</h3>
            <table cellpadding="10px" border="1px">
                <tr>
                    <td>GitHub</td>
                    <td><a href="https://github.com/rgero/GuitarTrainer">Link to the Repo</a></td>
                </tr>
                <tr>
                    <td>JAR File</td>
                    <td><a href="{% static 'projects/java/jar_files/GuitarTrainer.jar' %}">Link to the JAR File</a></td>
                </tr>
            </table>
            </center>

            <h3>Brief History</h3>
            <p>
              ​One of the lesser known facts about me is that I have played guitar since my senior year of high school. I would not say that I am very good at it, but it is something I enjoy. In the past, I have often struggled with practicing because I would focus on learning songs as opposed to practicing the fundamentals. This oftened ended up with me learning bits and pieces of the song but never really being able to write my own.
            </p>
            <p>One of my goals for this year is to change that. I want to become a more complete guitar player. This goal is what inspired this project.</p>
            <h3>What is it?</h3>
            <p>The Guitar Trainer is a way to add a bit of randomness to your chord practice routine. When you start the program, you’re presented with a simple Swing UI. On this first form, you can specify the number of chords you’d like to practice as well as the time each chord will last. After you’ve selected these aspects of the program, you can then go to a Chord Selection Screen. By default, you will have 14 open chords to choose from. Seven of these chords will be the major chords and the rest will be the minor chords.</p>
            <p>If you don’t want to do just the default ones, you can provide images of custom chords. Once the custom chords are loaded into the program, they will be available from the chord selection window. Then, after you've selected everything you can proceed to the trainer. The training window will present a random chord and display it's diagram on the screen for the previously established amount of time. When that time runs out, a new chord is presented to you.
            The goal of this was to help people like myself develop their ability to switch chords.</p>
            <h3>Current Status</h3>
            <p>Right now I would consider this project “released” because all of the original functionality I set out to deliver upon has been completed. However, I do feel that this is only the beginning. I am currently on an iOS app that mirrors this program.</p>
            <p>If you would like to see something in this program, feel free to request it through the github page.</p>
            <h3>Lessons Learned</h3>
            <p>The biggest lesson I learned during this project is the importance of drawing out your classes, at least at a high level. By doing this, you can quickly see the flow of the program before you start implementing all the details. This hit me square in the face when I was implementing the custom chord functionality. I wanted the user to be able to load the chords and then be able to go into the chord selection and be able to choose which loaded chords they wanted to practice. This meant having the data available to both classes without having both classes directly interact with each other. Ultimately, I chose to make the “Set Up” Window class function as a data container class. If I were to do it again, I’d probably set up a new class to be the data container so that way I can stick to the <a href="https://en.wikipedia.org/wiki/Single_responsibility_principle" target="_blank">single responsibility principal</a></p>
            <center>

            <table>
                <tr>
                    <td><a href="{% static 'projects/java/guitartrainer/Setup.png' %}" target="_blank"><img src="{% static 'projects/java/guitartrainer/Setup.png' %}" alt="The Setup Window" width=150 height=150></a></td>
                    <td><a href="{% static 'projects/java/guitartrainer/Trainer.png'%}" target="_blank"><img src="{% static 'projects/java/guitartrainer/Trainer.png'%}" alt="The Training Window" width=150 height=150></a></td>
             </table>
            </center>
{% endblock %}
