{% extends "template.html" %}

{% block content %}
{% load staticfiles %}
          <h2>Python</h2>
            <hr>
            <p>Python was the first programming language I tried to learn after college. I remember that I was looking through some reddit posts for ways to curb my boredom on a slow day in the office. One post had a list of websites that was meant for those who were looking to develop their skills in various aspects of life. While I was looking through this list I stumbled upon CodeAcademy.com. At the time, they were advertising their new Python 2.7 course and I remember saying why not?

            <P>I completed the entire course in a couple days. I remember being captivated by the silly humor that littered the course as well as how easy it was to complete the tasks. Before I knew it, I was branching off on my own and writing little scripts to do things and even a rather simple CLI game.

            <P>Python quickly became one of my go to languages to write small programs in. My manager became aware of my abilities to use Python and since then I’ve been using it quite a bit in my daily work life.

            <h3>Courses:</h3>
            <UL>
                <LI> CodeAcademy's Python Course - <a href="https://www.codecademy.com/learn/python" target="_blank">Link to Course</a>
                <LI> Learn Python The Hard Way - <a href="http://learnpythonthehardway.org/" target="_blank">Link to Course</a>
            </UL>
            

            <h3>Projects:</h3>
            <ul>
                <li><a href="\projects\python\penaltytracker.html">The Penalty Tracker</a>
                <li>File Renamer
                <LI>IP Notifier
                <LI>Link to Spotify
                <LI>Guitar Notes
            </ul>

{% endblock %}
